
@{
    ViewBag.Title = "Login";
}

<style>
    .log-td {
        margin: 10px;
    }

    input.btn.btn-default.btn-td {
        float: right;
    }

    .center {
        margin: 0 25% 0 25%;
        padding-top: 100px;
    }
</style>

<p></p>
<div class="container body-content">
    <div class="center">
        <div style="margin:0 25% 0 25%">
            <table>
                <tr>
                    <td><label class="control-label">Username: </label></td>
                    <td><input type="text" class="log-td form-control" /></td>
                </tr>
                <tr>
                    <td><label class="control-label">Password: </label></td>
                    <td><input type="password" class="log-td form-control" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="button" value="Login" class="btn btn-default btn-td" /></td>
                </tr>
            </table>
            <div>
                <p>@Html.ActionLink("Register as a new user", "Register", "Login")</p>
            </div>
        </div>
    </div>
</div>
